@import "tailwindcss";


html, body, #root {
  height: 100%;
} 


@theme {
  --color-bg-base: var(--color-zinc-950);
  --color-bg-card: var(--color-zinc-900);
  --color-bg-card-muted: var(--color-zink-800);
  --color-text-base: var(--color-zinc-100);
  --color-text-muted: var(--color-zinc-400);
  --color-border-base: var(--color-zinc-800);
}

